h1 {
  text-align: center;
}

.homepage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 120vh;
  width: 100vw;
  background: radial-gradient(white, #ffe8c7);
  * {
    font-family: "Roboto Mono", sans-serif;
  }
  .homepage__content {
    flex-grow: 1;
  }
}
